{% assign navbar = site.data.home.navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{{ site.image_base_url }}/book-reader.png" class="profile" alt="{{ site.title }}">
    <span class="font-weight-bold ml-2">{{ navbar.college-name }}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      {% for nav-item in navbar.menu %}
        <li class="nav-item {% if forloop.index == 1 %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}{{ nav-item.url }}">{{ nav-item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
